<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe details</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>{{ recipe.title }}</h1>
    <p>{{ recipe.description }}</p>
    <div>Chef: <a href="{% url 'chef' recipe.chef.pk %}">{{ recipe.chef.name }}</a></div>
    <div>Ingredients:</div>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.name }}</li>
        {% endfor %}
    </ul>
    <div>Categories:</div>
    <ul>
        {% for category in recipe.categories.all %}
        <li><a href="{% url 'category' category.pk %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
    <div>Created at: {{ recipe.created_at }}</div>

    <p><a href="{% url 'home' %}">HOME</a></p>
</body>
</html>